<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    </head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }
    </style>
    <body>
        <h1>Login</h1>
        <a href="/auth/login/google">
            <img src="/static/google_sign_in.png" alt="Sign in with Google" height="50rm">
        </a>
        <br>
        <a href="/auth/login/kakao">
            <img src="/static/kakao_sign_in.png" alt="Sign in with Kakao" height="50rm">
        </a>
        <br>
        <a href="/auth/login/naver">
            <img src="/static/naver_sign_in.png" alt="Sign in with Naver" height="50rm">
        </a>
    </body>
</html>
